@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,300");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*TODO*/

/* row */
.row {
  position: relative;
  width: 900px;
  text-align: center;
}

/*Content - container*/
.content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* pot item */
.pot-item {
  position: relative;
  width: 350px;
  height: 150px;
  margin: 10px;
}

.pot-item-img {
  position: relative;
  z-index: -10;
  height: 100%;
  width: 100%;
}

.pot-item-img-loader {
  position: absolute;
  top: 35%;
  left: 35%;
  height: 20px;
  width: 100px;
  z-index: 100;
}

.pot-name {
  position: absolute;
  color: #fff;
  font-weight: 600;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: linear-gradient(to top, #000, transparent);
  opacity: 0.9;
}

.col {
  position: relative;
  display: inline-block;
}

/* media query*/
@media (max-width: 700px) {
  .col {
    display: block;
    text-align: center;
  }

  .row {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .pot-item {
    width: 100%;
    height: 150px;
    margin: 10px;
  }
}
